
.map {
    width: 700px;
    height: 400px;
   
}

.form-floating {
    width: 300px;
}

[class*="copyrights-pane"] {
    display: none !important;
}

/* [class*="ground-pane"]{
    filter: grayscale(0)
} */