
.map {
    width: 700px;
    height: 400px;
   
}

.layout {
    background-color:gray;
}

[class*="copyrights-pane"] {
    display: none !important;
}

/* [class*="ground-pane"]{
    filter: grayscale(0)
} */